<app-mi-componente></app-mi-componente>
<div class="container">
  <p class="lead">
    Este es uno de mis componentes.
  </p>

  <div class="card text-bg-dark">
    <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Mi imagen favorita</h5>
      <p class="card-text">Esta es uno de las imagenes que mas me gustaron de la pagina .</p>
      <p class="card-text"><small>ultima actualizacion</small></p>
    </div>
  </div>
</div>